#obj{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}

#priciapl{
    height: 100%;
}

#sobreMim{
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: right;
}

#habilidades{
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: right;
}

