.hBoddy{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: left;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: -19px ;

}

.box{
  align-items: center;  
}

#hTittle{
  color: #494D4B;
  align-items: center;
}

.info3 {
  display: flex;
  width: 100%; 
  justify-content: space-between; 
  align-items: left; 
  border-bottom: 1px solid #e6e8eb;
}

#sp4 {
  color: #808080;
  text-align: left;
}


#sp5 {
  color: #808080;
  text-align: center; 
  flex-grow: 1; 
}


#sp6 {
  color: #808080;
  text-align: right;
}


#p4{
  margin-top: 10000x;
}

.p3,.p4,.p5,.p6{
  margin: 0px;
  padding: 0px;
  color: #494D4B;
}

.p3{
 margin: 0px;
 margin-top: 10px;
}