.hBranco {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: left;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 65px;
  
}

.boxImg {
  text-align: left;
  margin-bottom: 20px;
}

.boxImg img {
  max-width: 100%;
  height: auto;
}

#h2Msg {
  color: #333;
  margin-top: 10px;
}

.info {
      display: flex;
      width: 100%; 
      justify-content: space-between;
      align-items: left; 
      border-bottom: 1px solid #e6e8eb;
}

#sp1 {
      color: #808080;
      text-align: left; 
}
  
#sp2 {
      color: #808080;
      text-align: center;
      flex-grow: 1; 
}
  

#sp3 {
      color: #808080;
      text-align: right; 
}

  .info2{
      width: 100%;
      align-items: left;
      border-bottom: 1px solid #e6e8eb;
  }

  #p1{
      color: #494D4B;
  }

  #p2{
      color: #494D4B;
  }
