:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.Main{
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
}

.conteudo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}